
body, h1, form {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

h1 {
    text-align: center;
    padding: 20px 0;
    background-color: #3498db;
    color: white;
}
img {
    width: 400px;
}

.calculator-section {
    max-width: 600px; /* Increased width for better table layout */
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.calculator-table {
    width: 100%;
    border-collapse: collapse;
}

.calculator-table th,
.calculator-table td {
    padding: 8px;
    border: 1px solid #ccc;
    text-align: center;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="number"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

button:hover {
    background-color: #2980b9;
}

#luas-result, #keliling-result {
    margin: 10px 0;
    font-weight: bold;
}

